$amarillopalido: #FF9;
$azulmarino: #036;
$blanco: #FFF;
$durazno: #df8b19;
$gris22: #383838;
$gris40: #666;
$gris52: #848484;
$gris53: #888888;
$gris60: #999;
$gris68: #444;
$gris69: #b1b1b1;
$gris75: #BEBEBE;
$gris79: #4f4f4f;
$gris80: #CCC;
$gris87: #DFDFDF;
$jugodedurazno: #f2ba21;
$melon: #F4C548;
$negro: #000;
$rojo: red;
$rosamuypalido: #f0dddd;
$rosachicle2: #d1374a;
$rosachicle3: #DD6C7A;
$rosachicle: #FF5E99;
$teal2: #007698;
$teal3: #00889f;
$teal4: #2288a6;
$teal5: #002F35;
$teal6: #00545F;
$teal7: #005f6f;
$teal9: #009999;
$teal: #007693;
$tiza: #607890;
$verde: #979E14;
$verde2: #BCC518;
$verdeazul1: #00A38B;
$verdeazul2: #00D2B3;
$yogurtdedurazno: #EAA03E;


.cuadrado{
 width:150px;
 height:50px;
 float:left;
}
.c01{background-color:$amarillopalido ;}
.c02{background-color:$azulmarino ;}
.c03{background-color:$blanco ;}
.c04{background-color:$durazno ;}
.c05{background-color:$gris22 ;}
.c06{background-color:$gris40 ;}
.c07{background-color:$gris52 ;}
.c08{background-color:$gris53;}
.c09{background-color:$gris60 ;}
.c10{background-color:$gris68 ;}
.c11{background-color:$gris69 ;}
.c12{background-color:$gris75 ;}
.c13{background-color:$gris79 ;}
.c14{background-color:$gris80 ;}
.c15{background-color:$gris87 ;}
.c16{background-color:$jugodedurazno ;}
.c17{background-color:$melon ;}
.c18{background-color:$negro ;}
.c19{background-color:$rojo ;}
.c20{background-color:$rosamuypalido ;}
.c21{background-color:$rosachicle2 ;}
.c22{background-color:$rosachicle3 ;}
.c23{background-color:$rosachicle ;}
.c24{background-color:$teal2 ;}
.c25{background-color:$teal3 ;}
.c26{background-color:$teal4 ;}
.c27{background-color:$teal5 ;}
.c28{background-color:$teal6 ;}
.c29{background-color:$teal7 ;}
.c30{background-color:$teal9 ;}
.c31{background-color:$teal ;}
.c32{background-color:$tiza ;}
.c33{background-color:$verde ;}
.c34{background-color:$verde2 ;}
.c35{background-color:$verdeazul1 ;}
.c36{background-color:$verdeazul2 ;}
.c37{background-color:$yogurtdedurazno ;}
