.cuadrado {
  width: 125px;
  height: 125px;
  float: left; }

.c01 {
  background-color: #ffff99; }

.c02 {
  background-color: #003366; }

.c03 {
  background-color: white; }

.c04 {
  background-color: #df8b19; }

.c05 {
  background-color: #383838; }

.c06 {
  background-color: #666666; }

.c07 {
  background-color: #848484; }

.c08 {
  background-color: #888888; }

.c09 {
  background-color: #999999; }

.c10 {
  background-color: #444444; }

.c11 {
  background-color: #b1b1b1; }

.c12 {
  background-color: #bebebe; }

.c13 {
  background-color: #4f4f4f; }

.c14 {
  background-color: #cccccc; }

.c15 {
  background-color: #dfdfdf; }

.c16 {
  background-color: #f2ba21; }

.c17 {
  background-color: #f4c548; }

.c18 {
  background-color: black; }

.c19 {
  background-color: red; }

.c20 {
  background-color: #f0dddd; }

.c21 {
  background-color: #d1374a; }

.c22 {
  background-color: #dd6c7a; }

.c23 {
  background-color: #ff5e99; }

.c24 {
  background-color: #007698; }

.c25 {
  background-color: #00889f; }

.c26 {
  background-color: #2288a6; }

.c27 {
  background-color: #002f35; }

.c28 {
  background-color: #00545f; }

.c29 {
  background-color: #005f6f; }

.c30 {
  background-color: #009999; }

.c31 {
  background-color: #007693; }

.c32 {
  background-color: #607890; }

.c33 {
  background-color: #979e14; }

.c34 {
  background-color: #bcc518; }

.c35 {
  background-color: #00a38b; }

.c36 {
  background-color: #00d2b3; }

.c37 {
  background-color: #eaa03e; }
