@charset "utf-8";
/* HTML5 ✰ Boilerplate */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #007693;
  color: white;
  text-shadow: none; }

::selection {
  background: #007693;
  color: white;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #ff5e99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
  color: #444444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #003366; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

@media screen and (max-device-width:480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* CSS Dr.Saldaña */
/*---Generales----*/
body {
  background-color: white;
  background-image: url("img/bgnd.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -32px;
  margin: 0px; }

#contenedor {
  width: 1027px;
  margin: auto; }

.container {
  width: 1027px;
  margin: auto; }

.logo {
  height: 94px;
  width: 269px;
  float: left;
  padding-top: 32px;
  padding-left: 110px; }

.pie_pag {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #383838;
  height: 5%;
  font-family: texto;
  color: white;
  padding-top: 10px;
  z-index: 15; }
  .pie_pag div {
    float: left;
    color: #666666;
    font-size: 14px;
    padding-right: 2%; }
  .pie_pag span {
    color: #2288a6;
    font-family: texto;
    font-size: 20px; }

.pie_pag_centrado {
  width: 1027px;
  margin-right: 20%;
  margin-left: 23%;
  position: fixed; }

/*-----navegacion----*/
nav, .nav {
  width: 622px;
  float: left;
  height: 66px;
  padding-top: 60px;
  padding-left: 20px; }
  nav ul li, .nav ul li {
    display: inline;
    text-decoration: none;
    font-size: 25px;
    font-family: navegacion;
    padding: 5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    nav ul li:hover, .nav ul li:hover {
      background-color: #009999;
      color: white;
      box-shadow: 3px 3px 3px #888888;
      -moz-box-shadow: 3px 3px 3px #888888;
      -webkit-box-shadow: 3px 3px 3px #888888;
      -o-box-shadow: 3px 3px 3px #888888; }
    nav ul li a, .nav ul li a {
      color: #4f4f4f;
      text-decoration: none;
      font-size: 25px; }
      nav ul li a:hover, .nav ul li a:hover {
        color: white;
        text-decoration: none;
        font-size: 25px; }

/*-----index----*/
.banner_galeria {
  width: 1027px;
  height: 370px;
  float: left;
  margin-top: 10px; }

.vision {
  float: left;
  width: 250px;
  color: #848484;
  font-family: texto;
  margin-right: 40px; }
  .vision h1 {
    display: inline;
    font-family: navegacion;
    color: #4f4f4f;
    font-size: 20px; }
  .vision h2 {
    display: inline;
    font-family: navegacion;
    color: #005f6f;
    font-size: 20px; }
  .vision h3 {
    display: inline;
    font-family: navegacion;
    color: #007698;
    font-size: 18px; }
  .vision p {
    text-align: justify; }

.mision {
  float: left;
  width: 250px;
  font-family: texto;
  margin-left: 150px;
  margin-right: 40px;
  color: #848484; }
  .mision h1 {
    display: inline;
    font-family: navegacion;
    color: #4f4f4f;
    font-size: 20px; }
  .mision h2 {
    display: inline;
    font-family: navegacion;
    color: #005f6f;
    font-size: 20px; }
  .mision h3 {
    display: inline;
    font-family: navegacion;
    color: #007698;
    font-size: 18px; }
  .mision p {
    text-align: justify; }

.redes_index {
  float: left;
  font-family: texto;
  font-size: 20px;
  color: #4f4f4f;
  padding-left: 20px;
  padding-top: 60px; }
  .redes_index h1 {
    display: inline;
    font-family: navegacion;
    color: #4f4f4f;
    font-size: 20px; }

.servicios_index {
  float: left;
  width: 813px;
  height: 239px;
  background-image: url(img/bg_formu.jpg);
  margin-left: 7%;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  margin-top: 10px; }
  .servicios_index h1 {
    font-family: navegacion;
    color: white;
    font-size: 30px; }

.rojo_s {
  float: left;
  height: 32px;
  width: 70px;
  background-color: #d1374a;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: futurabt;
  padding-top: 90px;
  padding-left: 60px;
  font-size: 24px; }
  .rojo_s:hover {
    background-color: #dd6c7a; }

.aqua_s {
  float: left;
  height: 32px;
  width: 90px;
  background-color: #00a38b;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: futurabt;
  padding-top: 90px;
  padding-left: 40px;
  font-size: 24px; }
  .aqua_s:hover {
    background-color: #00d2b3; }

.verde_s {
  float: left;
  height: 32px;
  width: 75px;
  background-color: #979e14;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: futurabt;
  padding-top: 90px;
  padding-left: 55px;
  font-size: 24px; }
  .verde_s:hover {
    background-color: #bcc518; }

.amarillo_s {
  float: left;
  height: 32px;
  width: 90px;
  background-color: #f2ba21;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: futurabt;
  padding-top: 90px;
  padding-left: 40px;
  font-size: 24px; }
  .amarillo_s:hover {
    background-color: #f4c548; }

.naranja_s {
  float: left;
  height: 32px;
  width: 70px;
  background-color: #df8b19;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: futurabt;
  padding-top: 90px;
  padding-left: 60px;
  font-size: 24px; }
  .naranja_s:hover {
    background-color: #eaa03e; }

/*-----contacto----*/
.descripcion {
  font-family: texto;
  color: #4f4f4f;
  width: 1027px;
  padding-top: 20px;
  height: 20px;
  float: left;
  font-size: 20px;
  text-align: center; }

.mapa_contacto {
  width: 859px;
  height: 465px;
  float: left;
  padding-top: 20px;
  padding-left: 8%; }

.columna1 {
  float: left;
  width: 300px;
  font-family: navegacion;
  padding-left: 150px;
  height: 200px;
  font-size: 18px;
  color: #007698; }
  .columna1 h2 {
    font-size: 24px;
    color: #4f4f4f; }

.columna2 {
  float: left;
  font-family: navegacion;
  width: 200px;
  height: 200px;
  font-size: 18px;
  color: #007698; }
  .columna2 h2 {
    font-size: 24px;
    color: #4f4f4f; }

.columna3 {
  float: left;
  font-family: navegacion;
  width: 300px;
  height: 200px;
  font-size: 18px;
  color: #007698; }
  .columna3 h2 {
    font-size: 24px;
    color: #4f4f4f; }

.formulario {
  height: 261px;
  width: 755px;
  float: left;
  background-image: url(img/bg_formu.jpg);
  margin-left: 10%;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px; }
  .formulario span {
    color: white;
    font-family: texto;
    font-size: 10px; }

.redes {
  float: left;
  font-family: texto;
  font-size: 20px;
  color: #4f4f4f;
  padding-left: 20px;
  padding-top: 50px; }

label {
  color: white;
  font-family: texto;
  font-size: 20px;
  margin-left: 10px; }

input {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  padding-left: 5px;
  background-color: #dfdfdf;
  height: 35px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none; }
  input:focus {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    background-color: white;
    height: 35px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none; }

textarea {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  padding-left: 5px;
  background-color: #dfdfdf;
  height: 110px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  font-family: texto; }
  textarea:focus {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    background-color: white;
    height: 110px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none; }

input::-webkit-input-placeholder, input:-moz-placeholder {
  color: #b1b1b1; }

textarea::-webkit-input-placeholder, textarea:-moz-placeholder {
  color: #b1b1b1; }

select {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  padding-left: 5px;
  background-color: #dfdfdf;
  height: 20px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none; }
  select:focus {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    padding-left: 5px;
    background-color: white;
    height: 20px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none; }

#button {
  font-family: texto;
  font-size: 16px;
  color: white;
  background-color: #00545f;
  border: 1px solid #bebebe;
  margin-top: 10px;
  width: 100%; }
  #button:hover {
    font-family: texto;
    font-size: 16px;
    color: white;
    background-color: #00889f;
    border: 1px solid #bebebe;
    margin-top: 10px;
    width: 100%; }
  #button:active {
    font-family: texto;
    font-size: 16px;
    color: white;
    background-color: #002f35;
    border: 1px solid #bebebe;
    margin-top: 10px;
    width: 100%; }

#comentario {
  width: 84%;
  margin-left: 110px;
  margin-top: -18px; }

#nombre {
  width: 60%; }

#edad {
  width: 20%; }

#email, #telefono {
  width: 30%; }

#comments {
  padding-top: 0px; }

/*-----fuentes----*/
@font-face {
  font-family: 'texto';
  src: url("fonts/tcm.eot");
  src: url("fonts/tcm.eot?#iefix") format("embedded-opentype"), url("fonts/tcm.woff") format("woff"), url("fonts/tcm.ttf") format("truetype"), url("fonts/tcm.svg#TwCenMTRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'navegacion';
  src: url("fonts/qlassikbold_tb.eot");
  src: url("fonts/qlassikbold_tb.eot?#iefix") format("embedded-opentype"), url("fonts/qlassikbold_tb.woff") format("woff"), url("fonts/qlassikbold_tb.ttf") format("truetype"), url("fonts/qlassikbold_tb.svg#QlassikBoldRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futurabt';
  src: url("fonts/futura_light_condensed_bt.eot");
  src: url("fonts/futura_light_condensed_bt.eot?#iefix") format("embedded-opentype"), url("fonts/futura_light_condensed_bt.woff") format("woff"), url("fonts/futura_light_condensed_bt.ttf") format("truetype"), url("fonts/futura_light_condensed_bt.svg#QlassikBoldRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

#main-inner {
  width: 850px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  line-height: 150%; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.2em; }

dl {
  line-height: 1.8em;
  font-size: 1.2em;
  display: inline-table; }
  dl dt {
    margin-bottom: 10px;
    background: #f4c548;
    padding: 5px 10px;
    width: 130px;
    text-align: center;
    float: left;
    /*  	clear:left;
    */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  dl dd {
    margin: 0;
    padding: 0 10px 5px 10px;
    width: 430px;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
    dl dd:hover {
      background: #FFF7D6; }

@-webkit-keyframes alafechaCOL {
  from {
    background-color: #f4c548; }

  50% {
    background-color: #f2ba21; }

  to {
    background-color: #f4c548; } }

.alafecha {
  -webkit-animation-name: alafechaCOL;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }

.clear {
  clear: both; }

/*Index.html*/
.inn {
  float: left;
  width: 41px; }
  .inn img.a {
    position: absolute;
    z-index: 10;
    /* [disabled]left:969px; */
    /* [disabled]top:581px; */
    width: 41px; }
  .inn img.b {
    position: absolute;
    /* [disabled]left:969px; */
    /* [disabled]top:581px; */
    width: 41px; }

face {
  float: left;
  width: 41px; }

.face img.a {
  position: absolute;
  z-index: 10;
  /* [disabled]left:1012px; */
  /* [disabled]top:581px; */ }
.face img.b {
  position: absolute;
  /* [disabled]left:1012px; */
  /* [disabled]top:581px; */ }

.twit {
  float: left;
  width: 41px; }
  .twit img.a {
    position: absolute;
    z-index: 10;
    /* [disabled]left:924px; */
    /* [disabled]top:583px; */ }
  .twit img.b {
    position: absolute;
    /* [disabled]left:924px; */
    /* [disabled]top:583px; */ }

.servicio, .testimonio {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.testimonio {
  background-color: #dfdfdf;
  width: 160px;
  height: 160px;
  padding: 15px;
  margin: 10px;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .testimonio.odd {
    background-color: #cccccc; }
    .testimonio.odd.last {
      width: 370px; }
  .testimonio:hover {
    background-color: #ffff99; }
  .testimonio span {
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: right; }

.curriculumdivleft {
  width: 240px;
  float: left; }

.curriculumdivright {
  width: 600px;
  float: right; }
